  input[type=radio] {
    width : 80px;
    height: 80px;
  }
  button[type=submit] {
    height: 1.5em;
    font-size: 100px;
  }
  #p1 {font-size: 100px;}


@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #ffffff;
  }
}
